
/*
  main.html css
*/

.center_div{
    margin: 0 auto;
    width:90%;
}

.col-md-3{
  /*
  padding: 1%;
  */
  margin: 1%;
  border: 1px solid black;
}

.col-md-3 img{
  height: 70%;
  width: 70%;
}

#imagesContainer{
  border: 1px solid black;
  padding: 1%;
  /*
  background-color: red;
  */
  margin-top: 5%;
}

/*
  snap.html css
*/
#snapPanel{
  margin-top: 5%;
}

/*
  profile.favorites.html css
*/
#favoritesThumbnail{
  height: 50%;
  width: 50%;
  cursor: pointer;
}