<div class="container center_div">
    <div class="row">

        <h1>Login</h1>
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="username">Username</label>
                    <input ng-model="username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="password">Password</label>
                    <input type="password" ng-model="password" class="form-control" placeholder="Password"></input>
                </div>
            </div>

            <div class="row">
            	<div class="form-group col-lg-8">
            		<small>
            			<a href="#/signup">
            				Signup here
            			</a>
            		</small>
            	</div>
        	</div>

            <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
        </form>
    </div>
</div>
