<div id="imagesContainer">

<div infinite-scroll='snaps.nextPage()' infinite-scroll-disabled='snaps.busy' infinite-scroll-distance='100'>
  <div class="row" ng-repeat="mySnaps in snaps.itemsSet">

    <div class="col-md-3"  ng-repeat="snap in mySnaps track by $index">
      <div class="thumbnail">
        <img src="{{snap.imgSrc}}" ng-click="imgClicked(snap)"></img>
          <div class="caption">
              <h3>
                {{snap.title}}
              </h3>
              <p>
                {{snap.description}}
              </p>

              <p>
                Cookies: {{snap.numCookies}}
              </p>
              <p>
              <button ng-click="giveCookie(snap)">Give Cookie</button>
              <button  ng-click="minusCookie(snap)">Minus Cookie</button>
              <button ng-click="favoriteClicked(snap)">Favorite</button>
            </p>
          </div>
      </div>
    </div>

  </div>

<div ng-show='snaps.busy'>Loading data...</div>
</div>

</div>