<h1>{{username}}</h1>
<div class="row">
	<div class="col-sm-3">
		<div class="list-group" data-profilenav="">
		  <a id="profile_profile" class="list-group-item" ng-click="onClickTab('profile')">
		    Profile
		  </a>
		  <a id="profile_favorites" class="list-group-item" ng-click="onClickTab('favorites')">
		  	Favorite Snaps
		  </a>
		  <a class="list-group-item" ng-click="logUserout()">
		  	Logout
		  </a>
		</div>
	</div>

	<div class="col-sm-9">
		<div id="mainTabView">
			<div ng-include="currentTab"></div>
		</div>
	</div>

</div>