<h1>Profile</h1>

<div profile-form>
	<form role="form">

		<fieldset disabled>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="{{currentEmail}}" ng-model="newEmail">
			</div>

			<div class="form-group">
				<label for="major">Major</label>
				<input type="text" class="form-control" id="major" placeholder="{{currentMajor}}" ng-model="newMajor">
			</div>
		</fieldset>

		<div class="row">
			<div class="col-xs-6">

				<div class="form-group">
					<div class="">
						<button type="submit" class="btn btn-default" ng-click="editBtnClicked()">{{buttonText}}</button>
					</div>
				</div>

			</div>
			<div class="col-xs-6">

				<div class="form-group">
					<div class="">
						<button class="btn btn-default" ng-click="cancelBtnClicked()">
							Cancel
						</button>
					</div>
				</div>

			</div>
		</div>

	</form>
</div>