<div class="container center_div">
    <div class="row">

        <h1>Sign Up</h1>
        <form role="form">
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="username">Username</label>
                    <input ng-model="username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="email">Email</label>
                    <input type="email" ng-model="email" class="form-control" placeholder="Enter email"></input>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="password">Password</label>
                    <input type="password" ng-model="password" class="form-control" placeholder="Password"></input>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="vPassword">Verfiy Password</label>
                    <input type="password" ng-model="vPassword" class="form-control" placeholder="Password"></input>
                </div>
            </div>

            <div class="row">
            	<div class="form-group col-lg-8">
            		<label for="major">Major</label>
                    <input type="text" ng-model="major" class="form-control" placeholder="Major"></input>
            	</div>
            </div>

            <button type="submit" class="btn btn-default" ng-click="signup()">Signup</button>
        </form>
    </div>
</div>